<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Propeller Tech Quiz 2</title>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" type="text/javascript"></script>

	<!-- Add mousewheel plugin (this is optional) -->
	<script type="text/javascript" src="assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

	<!-- Add fancyBox -->
	<link rel="stylesheet" href="assets/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script type="text/javascript" src="assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="assets/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="assets/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="assets/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="assets/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script type="text/javascript" src="assets/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script type="text/javascript" src="assets/scripts/jquery.twbsPagination.min.js"></script>

	<link rel="stylesheet" href="assets/styles/thumbfix.css">

	<script type="text/javascript">
		var gotPageCount = false;
		var pageNumber = location.search.split('page=')[1];
		if(pageNumber===undefined) {
			pageNumber = 1;
		}

		$(document).ready(function() {

			getPhotos(pageNumber);

			$(".fancybox").fancybox({
				openEffect	: 'none',
				closeEffect	: 'none'
			});
		});

		function getPhotos(page) {
			var url = "https://api.flickr.com/services/rest/?method=flickr.photos.search&tags=soccer&api_key=b086bdba1afaaf084e224d9ba358018d&per_page=10&page=" + page;

			$.getJSON(url + "&format=json&jsoncallback=?", function(data){
				if(gotPageCount==false) {
					gotPageCount=true;
					setPagination(data.photos.pages);
				}

				$("#images").empty();

				var src;

			    $.each(data.photos.photo, function(i,item){
			        src = "http://farm"+ item.farm +".static.flickr.com/"+ item.server +"/"+ item.id +"_"+ item.secret;
			 		image = $("<img/>").attr("src", src+"_m.jpg").attr("class","thumbnail");
			        link = $("<a/>").attr("class","fancybox").attr("href",src+"_b.jpg").html(image);
			        link.appendTo("#images");
			    });
			});
		}

		function setPagination(totalPages) {
			$('#pagination').twbsPagination({
				totalPages: totalPages,
				visiblePages: 10,
				href: '?page={{number}}',
				onPageClick: function (event, page) {
					getPhotos(page);
				}
			});
		}
	</script>
</head>
<body>
	<div class="container">
		<ul id="pagination" class="pagination-sm"></ul>
		<div id="images"></div>
	</div>
</body>
</html>